<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <p>this site was created by Marius r. It uses mapbox and darkskies to provide user forecast</p>
    <p>{{name}}</p>
    {{>footer}}
</body>

</html>